/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FAFBFF;
  --blue-color: #0258F8;
  --text-color-1: #1D1E25;
  --text-color-2: #7E8492;
  --shadow-color: #E3DCFC;
  --stars-color: #FACC15;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'DM Sans', sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-color-1);
  line-height: 1;
}

.container {
  width: 100%;
  margin: 0 auto;   /* centraliza */
  padding: 0 22px;  /* espaçamento lateral */
  box-sizing: border-box;
}

/* HEADER */
.header {
  background: var(--bg-color);
  padding: 0.7rem 0;
  top: 0;
  z-index: 999;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  max-height: 70px;
}

/* Menu mobile */
.menu-mobile {
  display: block;
}

.menu-desktop {
  display: none;
}

#menu-toggle {
  background: none;
  max-height: 60px;
  border: none;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 2rem 0;
  text-align: left;
}

.hero-rating {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.stars .star {
  width: 18px;
  height: 19px;
}

.hero-rating-text {
  color: var(--text-color-1);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  padding-left: 102px;
}

.hero-title {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.15;
}

.hero-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-2);
  margin-bottom: 1.5rem;
  text-align: left;
  margin-bottom: 2.45rem;
  line-height: 1.7;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: var(--blue-color);
  color: var(--bg-color);
  width: 100%;
  font-size: 14px;
  padding: 1rem 1.5rem;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn-secondary {
  position: relative;
  background-color: var(--bg-color);
  color: var(--blue-color);
  width: 100%;
  font-size: 14px;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-weight: 700;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 1.7rem;
  border: 1px solid #ededed;
  text-align: left;
  padding-left: 131px;
}

.btn-secondary img {
  position: absolute;
  left: 1.1rem;
  width: 25px;
  height: 25px;
}

.hero-users {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.3rem;
}

.hero-users img {
  width: 105px;
}

.hero-users-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.hero-users-info .number {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-1);
}

.hero-users-info p {
  color: var(--text-color-2);
  font-size: 15px;
}

.hero-image img {
  margin-left: -12px;
  width: 360px;
  height: 320px;
}

/* BRANDS */
.brands {
  margin-top: -3px;
  padding: 1rem 0;
  background-color: var(--blue-color);
  overflow-x: auto;
  font-family: var(--font-primary);
}

.brand-logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
  padding: 0 1rem;
  min-width: max-content;
}

.brand-logos img {
  height: 36px;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

/* BENEFITS */
.benefits {
  margin-top: 1.5rem;
  padding: 2rem 0;
  font-family: var(--font-primary);
}

.benefits-title {
  font-size: 33px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0.5rem;
  text-align: left;
}

.benefits-subtitle {
  margin-top: 1.1rem;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-2);
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.8;
  word-spacing: 1.2px;
}

.benefits-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.5rem;
}

.stat {
  background: transparent;
  text-align: left;
}

.stat h3 {
  color: var(--blue-color);
  font-size: 32px;
  font-weight: 600;
}

.stat .stat-title {
  margin-top: 0.8rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-1);
  line-height: 1.7;
}

.stat .stat-text {
  margin-top: 0.4rem;
  color: var(--text-color-2);
  font-size: 14px;
  line-height: 1.5;
}

.stat:nth-child(2) .stat-title {
  white-space: nowrap;
}

.stat:nth-child(3), .stat:nth-child(4) {
  margin-top: -12px;
}

.stat:nth-child(4) .stat-text {
  word-spacing: -0.6px;
}

/* STORAGE OPTIONS */
.storage-options {
  margin-top: 5.1rem;
  text-align: left;
}

.storage-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5em;
  text-align: left;
  word-spacing: -1.4px;
}

.storage-subtitle {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-2);
  margin-bottom: 1.5rem;
  max-width: 500px;
  text-align: left;
  margin-bottom: 1.8rem;
  line-height: 1.7;
}

.storage-features {
  list-style: none;
  margin-bottom: 2.6rem;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.7rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-1);
}

.feature-item img {
  width: 24px;
  height: 24px;
}

.storage-image {
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 3px;
}

/* RECOVERY OPTIONS */
.recovery-options {
  margin-top: 4.5rem;
  text-align: left;
}

.recovery-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.1;
  text-align: left;
  word-spacing: -1.9px;
}

.recovery-subtitle {
  margin-top: 1.1rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-2);
  max-width: 500px;
  text-align: left;
  margin-bottom: 2.2rem;
  line-height: 1.6;
}

.recovery-features {
  list-style: none;
  margin-bottom: 2.4rem;
}

.recovery-features .feature-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 0.99rem;
  font-weight: 500;
  color: var(--text-color-1);
  word-spacing: 1.2px;
}

.recovery-features .feature-item img {
  width: 24px;
  height: 24px;
}

/* MOBILE ONLY AND DESKTOP ONLY */
.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.recovery-image mobile-only {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

/* ADVANTAGES */
.advantages {
  margin-top: 4.2rem;
  text-align: left;
}

.advantages-intro h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-align: left;
  word-spacing: -1.2px;
  letter-spacing: -0.3px;
}

.advantages-intro p {
  margin-top: 0.8rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-2);
  margin-bottom: 2.7rem;
  max-width: 500px;
  text-align: left;
  line-height: 1.6;
}

.btn-learn-more {
  background-color: var(--blue-color);
  color: var(--bg-color);
  padding: 1.1rem 1.7rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.advantages-cards {
  margin-top: 3.2rem;
}

.advantage-card {
  background-color: #FFF;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  text-align: left;
  border: 1px solid #ededed;
}

.advantage-card h3 {
  margin-top: 0.7rem;
  color: var(--text-color-1); 
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  word-spacing: 1.7px;
  letter-spacing: -0.2px;
}

.advantage-card p {
  margin-top: 1.2rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.78;
  color: var(--text-color-2);
  margin-bottom: 1rem;
  word-spacing: 0.8px;
}

.advantage-icon {
  margin-top: 2rem;
  width: 52px;
  height: 52px;
  margin-bottom: 0.5rem;
}

/* Card Performance */
.advantage-card--performance h3 {
  margin-top: 0.6rem;
  line-height: 1.2;
}

.advantage-card--performance p {
  margin-top: 1.2rem;
}

.advantage-card--performance img {
  margin-top: 0.1rem;
}

/* Card It */
.advantage-card--it h3 {
  margin-top: 0.5rem;
}

.advantage-card--it img {
  margin-top: 4rem;
}

/* CUSTOMERS REVIEWS */
.customers-reviews {
  margin-top: 4.9rem;
  padding: 2rem 0;
  text-align: center;
}

.customers-little-title {
  margin-top: 3.5rem;
  font-weight: 500;
  color: var(--blue-color);
  margin-bottom: 0.5rem;
  font-size: 14px;
  text-align: center;
  background-color: #EBF5FD;
  padding: 0.8rem;
  width: 170px;
  border-radius: 30px;
  margin: 0 auto;
}

.customer-title {
  margin-top: 1rem;
  font-size: 33px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0.5rem;
  text-align: center;
}

.customer-subtitle {
  margin-top: 1rem;
  font-size: 17px;
  color: var(--text-color-2);
  max-width: 500px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0.6rem;
}

.desktop-only {
  display: none;
}

.reviews.mobile-only {
  margin-top: 0.3rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.review  {
  padding: 1rem 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.customer-profile {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  margin-bottom: 0.5rem;
}

.review-profile {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.review-author {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
}

.review-author-company {
  margin: 0;
  color: var(--text-color-2);
  font-size: 15px;
  font-weight: 300;
}

.review-text {
  margin-top: 1.6rem;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: var(--text-color-1);
  line-height: 1.6;
  margin-bottom: 1.4rem;
}

.stars {
  display: flex;
  gap: 0.5rem;
  width: 22px;
  height: 22px;
}

/* BAR */
.wrapper {
  margin-top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.bar-container {
  display: flex;
  gap: 9px;
}

.bar {
  width: 70px;
  height: 5px;
}

.bar.blue {
  background-color: var(--blue-color);
  flex: 1;
}

.bar.light {
  background-color: #EBF5FD;
  flex: 1;
}

/* EXPLORE */
.explore {
  padding: 2rem 0;
  text-align: center;
}

.explore-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}

.explore-subtitle {
  margin-top: 1.2rem;
  font-size: 16px;
  color: var(--text-color-2);
  max-width: 500px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 3.1rem;
}

.btn-explore {
  background-color: var(--blue-color);
  color: white;
  padding: 1.1rem 2.2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

/* Footer Mobile-First (375px) */
.footer {
  margin-top: 2.7rem;
  background-color: var(--blue-color);
  color: var(--bg-color);
  padding: 40px 0 24px 0;
}

.footer-inner {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 22px;
}

/* Seção do título e informações de contato */
.footer-brand {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.footer-title {
  font-size: 33px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 24px 0;
  color: var(--bg-color);
}

.footer-features {
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-features li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 14px;
}

.footer-features img {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  margin-top: 2px;
}

.footer-features span {
  font-size: 17px;
  line-height: 1.6;
  color: var(--bg-color);
  font-weight: 300;
}

/* Seção do logo e links */
.footer-social {
  margin-bottom: 32px;
}

.footer-logo {
  width: 140px;
  height: auto;
  margin-bottom: 2.7rem;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0 0 24px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 44px;
}

.footer-social-list li {
  flex: 0 0 auto;
}

.footer-social-list a {
  color: var(--bg-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

/* Ícones das redes sociais */
.footer-social-icons {
  display: flex;
  gap: 25px;
}

.footer-social-icons img {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

/* Separador */
.footer-separator {
  height: 1px;
  background-color: #7E8492;
  margin: 32px 12px 22px 0;
  position: relative;
  top: -9px;
}

/* Seção final - termos e copyright */
.footer-social-rights {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -3px;
}

.footer-social-conditions {
  display: flex;
  gap: 43px;
}

.footer-social-conditions p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-color);
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.footer-social-rights > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-color);
  opacity: 0.9;
  margin-bottom: 2.5rem;
}